$mdc-theme-primary: #9c27b0;
$mdc-theme-secondary: #76ff03;
$mdc-theme-background: #fff;
$raleway-font: 'Raleway', sans-serif;
$cabin-font: 'Cabin', sans-serif;

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
    position: relative;
	margin: 0;
}

.mdc-menu-anchor {
    position: fixed;
    top: 10px;
    right: 10px;
}