$raleway-font: 'Raleway', sans-serif;
$cabin-font: 'Cabin', sans-serif;

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
    position: relative;
	margin: 0;
}

.mdc-menu-anchor {
    position: fixed;
    top: 10px;
    right: 10px;
    --mdc-theme-primary: var(--mdc-theme-primary-dark);

    .mdc-button {
        border-bottom: 1px solid var(--mdc-theme-secondary);
    }

    .mdc-list {
        padding-bottom: 0;
    }

    .mdc-list-item {
        border-bottom: 1px solid var(--mdc-theme-secondary);

        &:hover {
            background: var(--mdc-theme-primary-dark);
            color: var(--mdc-theme-text-primary-on-primary-dark);
        }
    }
}

.mdc-card {
    box-shadow: 0 3px 1px -2px var(--mdc-theme-secondary-light), 0 2px 2px 0 var(--mdc-theme-secondary-light), 0 1px 5px 0 var(--mdc-theme-secondary-light);

    .mdc-card__title {
        border-bottom: 1px solid var(--mdc-theme-secondary);
        padding: 10px;
    }

    .mdc-tab {
        &:hover {
            background: var(--mdc-theme-primary-light);
            color: var(--mdc-theme-text-primary-on-primary-dark);

            &:after {
                background: var(--mdc-theme-secondary);
            }
        }
    }
}

.banner-card {
    .banner-card__media {
        background: var(--mdc-theme-secondary);
        min-height: 58px;
    }
}