$yellow: #ffec00;
$magenta: #ff00b1;
$cyan: #0feef4;
$black: #000;
$white: #FFF;
$raleway-font: 'Raleway', sans-serif;
$cabin-font: 'Cabin', sans-serif;

a {
	text-decoration: none;
}

li {
	list-style: none;
}

body {
	margin: 0;
}

