body {
    --mdc-theme-primary: #4C5454;
    --mdc-theme-primary-light: #788080;
    --mdc-theme-primary-dark: #242b2b;
    --mdc-theme-secondary: #FF715B;
    --mdc-theme-secondary-light: #ffa389;
    --mdc-theme-secondary-dark: #c64031;

    --mdc-theme-text-primary-on-primary-light: #FFF;
}